import(distrom)
import(gamlr)
import(Matrix)
importFrom("graphics", "legend", "par", "plot")
importFrom("stats", "coef", "cor", "lm", "resid", "sd")

export(mnlm,
       srproj,
       pls,
       corr,
       sdev,
       tfidf)

S3method(plot,pls)
S3method(predict,pls)
S3method(summary,pls)
